.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px; /* Adjust logo size */
}
img.cursor-pointer:hover {
  opacity: 0.8;
}
iframe {
  min-height: 500px;
}
